HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.idea
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/education/.mvn/wrapper/
/.idea/
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/education/.mvn/wrapper/
/.idea/
/.idea/artifacts/mmall_war_exploded.xml
